@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal-Regular.eot');
    src: local('Neue Montreal Regular'), local('NeueMontreal-Regular'),
        url('/fonts/NeueMontreal-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueMontreal-Regular.woff2') format('woff2'),
        url('/fonts/NeueMontreal-Regular.woff') format('woff'),
        url('/fonts/NeueMontreal-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Epilogue';
  src: url('/fonts/Epilogue-Light.woff2') format('woff2'),
       url('/fonts/Epilogue-Light.woff') format('woff'),
       url('/fonts/Epilogue-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Epilogue';
  src: url('/fonts/Epilogue-Regular.woff2') format('woff2'),
       url('/fonts/Epilogue-Regular.woff') format('woff'),
       url('/fonts/Epilogue-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Epilogue';
  src: url('/fonts/Epilogue-SemiBold.woff2') format('woff2'),
       url('/fonts/Epilogue-SemiBold.woff') format('woff'),
       url('/fonts/Epilogue-SemiBold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
       url('/fonts/PlusJakartaSans-Regular.woff') format('woff'),
       url('/fonts/PlusJakartaSans-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-Medium.woff2') format('woff2'),
       url('/fonts/PlusJakartaSans-Medium.woff') format('woff'),
       url('/fonts/PlusJakartaSans-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}

body {
    background-color: var(--main-background);
    color: var(--black);
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

.section-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--dark-green);
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 744px;
  }
  .section-title {
    font-size: 40px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1216px;
  }
}

.text {
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
