@font-face {
    font-family: 'Neue Montreal';
    src: url('./fonts/NeueMontreal-Regular.eot');
    src: local('Neue Montreal Regular'), local('NeueMontreal-Regular'),
        url('./fonts/NeueMontreal-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/NeueMontreal-Regular.woff2') format('woff2'),
        url('./fonts/NeueMontreal-Regular.woff') format('woff'),
        url('./fonts/NeueMontreal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and(min-width:375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.section-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: var(--dark-green);
}

.text {
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
