/* body {
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
} */

/* .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
} */

/* .section-title{

} */

/* .text{

} */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}