.aboutus {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 40px;
}

.aboutus-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--dark-green);
}

.aboutus-texts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.aboutus-text {
  font-weight: 300;

  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--black);
}

.gif {
  width: 335px;
  height: 365px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .aboutus-title {
    min-width: 174px;
    font-size: 40px;
    line-height: 1.1;
  }
  .aboutus-texts {
    flex-wrap: nowrap;
    width: 490px;
  }

  .aboutus-text:last-child {
    min-width: 250px;
  }

  .gif {
    width: 704px;
    height: 465px;
  }
}

@media screen and (min-width: 1280px) {
  .aboutus {
    column-gap: 110px;
    padding: 80px 20px;
  }

  .aboutus-texts {
    width: 892px;
  }

  .aboutus-text {
    max-width: 439px;
  }
  .aboutus-text:last-child {
    max-width: 380px;
  }

  .gif {
    width: 892px;
    height: 500px;
    margin-left: auto;
  }
}
