<section>
    <h2>Catalog</h2>
    <ul>
       <li>
          <a href="#">
             <img srcset="../public/images/tube-watch.jpg 1x,
             ../public/images/tube-watch@2x.jpg 2x"
             src="../public/images/tube-watch.jpg"
             alt="Tube Watch S42 Date Steel With Black Case"
             width="276" height="274">
             <h3>Tube Watch S42 Date Steel With Black Case</h3>
             <p>€395</p>
          </a>
       </li>
       <li><a href="#">
             <img srcset="../public/images/tube-watch.jpg 1x,
             ../public/images/tube-watch@2x.jpg 2x"
             src="../public/images/tube-watch.jpg"
             alt="Tube Watch S42 Date Steel With Black Case"
             width="276" height="274">
             <h3>Avondale Watch Police For Men</h3>
             <p>€800</p>
          </a></li>
       <li><a href="#">
             <img srcset="../public/images/tube-watch.jpg 1x,
             ../public/images/tube-watch@2x.jpg 2x"
             src="../public/images/tube-watch.jpg"
             alt="Tube Watch S42 Date Steel With Black Case"
             width="276" height="274">
             <h3>Diver  300M Co‑Axial Master Chronometer Chronograph</h3>
             <p>€600</p>
          </a></li>
       <li><a href="#">
             <img srcset="../public/images/tube-watch.jpg 1x,
             ../public/images/tube-watch@2x.jpg 2x"
             src="../public/images/tube-watch.jpg"
             alt="Tube Watch S42 Date Steel With Black Case"
             width="276" height="274">
             <h3>Diver 300M Co-Axial Master Chronometer </h3>
             <p>€1400</p>
          </a></li>
       <li><a href="#">
             <img srcset="../public/images/tube-watch.jpg 1x,
             ../public/images/tube-watch@2x.jpg 2x"
             src="../public/images/tube-watch.jpg"
             alt="Tube Watch S42 Date Steel With Black Case"
             width="276" height="274">
             <h3>Taman Watch By Police For Men</h3>
             <p>€500</p>
          </a></li>
       <li><a href="#">
             <img srcset="../public/images/tube-watch.jpg 1x,
             ../public/images/tube-watch@2x.jpg 2x"
             src="../public/images/tube-watch.jpg"
             alt="Tube Watch S42 Date Steel With Black Case"
             width="276" height="274">
             <h3>Malawi Watch Police For Men</h3>
             <p>€555</p>
          </a></li>
       <li><a href="#">
             <img srcset="../public/images/tube-watch.jpg 1x,
             ../public/images/tube-watch@2x.jpg 2x"
             src="../public/images/tube-watch.jpg"
             alt="Tube Watch S42 Date Steel With Black Case"
             width="276" height="274">
             <h3>Diver 300M Co-Axial Master Chronometer </h3>
             <p>€1200</p>
          </a></li>
       <li><a href="#">
             <img srcset="../public/images/tube-watch.jpg 1x,
             ../public/images/tube-watch@2x.jpg 2x"
             src="../public/images/tube-watch.jpg"
             alt="Tube Watch S42 Date Steel With Black Case"
             width="276" height="274">
             <h3>Greenlane Watch By Police For Men</h3>
             <p>€1000</p>
          </a></li>
       <li><a href="#">
             <img srcset="../public/images/tube-watch.jpg 1x,
             ../public/images/tube-watch@2x.jpg 2x"
             src="../public/images/tube-watch.jpg"
             alt="Tube Watch S42 Date Steel With Black Case"
             width="276" height="274">
             <h3>Squardrc 5402 Chrono</h3>
             <p>€359</p>
          </a></li>
       <li><a href="#">
             <img srcset="../public/images/tube-watch.jpg 1x,
             ../public/images/tube-watch@2x.jpg 2x"
             src="../public/images/tube-watch.jpg"
             alt="Tube Watch S42 Date Steel With Black Case"
             width="276" height="274">
             <h3>Diver  300M Co‑Axial Master Chronometer Chronograph</h3>
             <p>€400</p>
          </a></li>
       <li><a href="#">
             <img srcset="../public/images/tube-watch.jpg 1x,
             ../public/images/tube-watch@2x.jpg 2x"
             src="../public/images/tube-watch.jpg"
             alt="Tube Watch S42 Date Steel With Black Case"
             width="276" height="274">
             <h3>Citizen</h3>
             <p>€519</p>
          </a></li>
       <li><a href="#">
             <img srcset="../public/images/tube-watch.jpg 1x,
             ../public/images/tube-watch@2x.jpg 2x"
             src="../public/images/tube-watch.jpg"
             alt="Tube Watch S42 Date Steel With Black Case"
             width="276" height="274">
             <h3>Armani Exchange</h3>
             <p>€400</p>
          </a></li>
    </ul>
    <button type="button">BUY NOW</button> 
 </section>
 