<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="logo-header" href="./index.html">
        <svg class="logo-icon" width="14" height="14">
          <use href="../images/icons.svg#icon-logo-cropped"></use>
        </svg>
        <span class="logo">thewatchspot</span>
      </a>
      <button
        type="button"
        class="menu-btn"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg
          class="open-menu"
          width="24"
          height="24"
          aria-label="переключатель мобильного меню"
        >
          <use
            class="icon-gg_menu"
            href="./images/icons.svg#icon-gg_menu"
          ></use>
          <use class="icon-x" href="./images/icons.svg#icon-x"></use>
        </svg>
      </button>
      <div class="menu-container" id="menu-container" data-menu>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#about" class="nav-link">About us</a>
          </li>
          <li class="nav-item">
            <a href="#catalog" class="nav-link">Catalog</a>
          </li>
          <li class="nav-item">
            <a href="#sale" class="nav-link">sale</a>
          </li>
        </ul>
      </div>
      <address class="header-address">
        <a class="address-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </address>
    </nav>
  </div>
</header>
