<section class="hero container">
  <div class="hero-content-top">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>
    <p class="hero-text-top">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
  </div>
  <div class="hero-content-bottom">
    <div class="hero-markup-tablet">
      <div class="hero-slider">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="../images/watch1_tablet.jpg"
            width="436"
            height="255"
          />
          <img
            class="hero-slider-img"
            src="./images/watch1_mobile.jpg"
            alt="Wristwatch"
            width="266"
            height="200"
          />
        </picture>
        <div class="hero-btn">
          <button class="hero-btn-slider">
            <svg class="hero-btn-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-chevron-left"></use>
            </svg></button
          ><button class="hero-btn-slider">
            <svg class="hero-btn-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-chevron-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <p class="hero-text-bottom">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <picture
      ><source
        media="(min-width: 1280px)"
        srcset="../images/watch-on-hand_desktop.jpg"
        width="676"
        height="394"
      />
      <source
        media="(min-width: 768px)"
        srcset="../images/watch-on-hand_tablet.jpg"
        width="704"
        height="410"
      />
      <img
        class="hero-main-img"
        src="../images/watch-on-hand_mobile.jpg"
        alt="Watch on hand"
        width="335"
        height="410"
      />
    </picture>
  </div>
</section>
