<section class="new-watches">
    <div class="container">
        <h2 class="new-watches-title" id="new-watches">New watches</h2>
        <p class="new-watches-text">Green And Bronze—The Match Made In Heaven</p>
        <ul class="new-watches-list">
            <li class="new-watches-item">      
                <picture>
                    <source srcset="./images/new-watches/green-watch@1x-dest.jpg 1x, 
                        ./images/new-watches/green-watch@2x-dest.jpg 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./images/new-watches/green-watch@1x-tabl.jpg 1x,
                        ./images/new-watches/green-watch@2x-tabl.jpg 2x"
                        media="(min-width: 768px)">
                    <source srcset="./images/new-watches/green-watch@1x-mob.jpg 1x,
                        ./images/new-watches/green-watch@2x-mob.jpg 2x"
                        media="(max-width: 767px)">
                    <img class="new-watches-img" src="./images/new-watches/green-watch@1x-mob.jpg" alt="green-watch">
                </picture>     
            </li>
            <li class="new-watches-item">
                <picture>
                    <source srcset="./images/new-watches/bronze-watch@1x-dest.jpg 1x,
                    ./images/new-watches/bronze-watch@2x-dest.jpg 2x"
                    media="(min-width: 1280px)">
                    <source srcset="./images/new-watches/bronze-watch@1x-tabl.jpg 1x,
                    ./images/new-watches/bronze-watch@2x-tabl.jpg 2x"
                    media="(min-width: 768px)">
                    <source srcset="./images/new-watches/bronze-watch@1x-mob.jpg 1x,
                    ./images/new-watches/bronze-watch@2x-mob.jpg 2x"
                    media="(max-width: 767px)">
                    <img class="new-watches-img" src="./images/new-watches/bronze-watch@1x-mob.jpg" alt="bronze watches">
                </picture>
            </li>
        </ul>
    </div>
</section>