<section class="sale">
  <div class="container">
    <h2 class="section-title" id="sale">Sale</h2>
    <div class="sale-watch-wrap">
      <div class="sale-watch-images">
        <ul class="sale-watch-list">
          <li class="sale-watch-item">
            <picture>
							<source srcset="./images/sale/sale-watch1@1x-mob.jpg 1x, ./images/sale/sale-watch1@2x-mob.jpg 2x" media="(max-width: 767px)">
							<source srcset="./images/sale/sale-watch1@1x.jpg 1x, ./images/sale/sale-watch1@2x.jpg 2x" media="(min-width: 768px)">
							<img src="./images/sale-watch1@1x.jpg" alt="Watch for sale">
						</picture>
          </li>
          <li class="sale-watch-item">
            <picture>
							<source srcset="./images/sale/sale-watch2@1x-mob.jpg 1x, ./images/sale/sale-watch2@2x-mob.jpg 2x" media="(max-width: 767px)">
							<source srcset="./images/sale/sale-watch2@1x.jpg 1x, ./images/sale/sale-watch2@2x.jpg 2x" media="(min-width: 768px)">
							<img src="./images/sale-watch2@1x.jpg" alt="Watch for sale">
						</picture>
          </li>
          <li class="sale-watch-item">
            <picture>
							<source srcset="./images/sale/sale-watch3@1x-mob.jpg 1x, ./images/sale/sale-watch3@2x-mob.jpg 2x" media="(max-width: 767px)">
							<source srcset="./images/sale/sale-watch3@1x.jpg 1x, ./images/sale/sale-watch3@2x.jpg 2x" media="(min-width: 768px)">
							<img src="./images/sale-watch3@1x.jpg" alt="Watch for sale">
						</picture>
          </li>
          <li class="sale-watch-item">
            <picture>
							<source srcset="./images/sale/sale-watch4@1x-mob.jpg 1x, ./images/sale/sale-watch4@2x-mob.jpg 2x" media="(max-width: 767px)">
							<source srcset="./images/sale/sale-watch4@1x.jpg 1x, ./images/sale/sale-watch4@2x.jpg 2x" media="(min-width: 768px)">
							<img src="./images/sale-watch4@1x.jpg" alt="Watch for sale">
						</picture>
          </li>
        </ul>
        <picture>
					<source srcset="./images/sale/sale-watch5@1x-mob.jpg 1x, ./images/sale/sale-watch5@2x-mob.jpg 2x" media="(max-width: 767px)">
					<source srcset="./images/sale/sale-watch5@1x.jpg 1x, ./images/sale/sale-watch5@2x.jpg 2x" media="(min-width: 768px)">
					<img class="sale-main-watch-img" 	src="./images/sale/sale-watch5@1x.jpg" alt="Watch for sale">
				</picture>
      </div>
      <div class="sale-watch-description">
        <h3 class="sale-watch-title">Greenlane Watch By Police For MenHT</h3>
        <p class="watch-article">Product tag: PEWJK2227003</p>
        <ul class="price-list">
          <li class="sale-price">&euro;700</li>
          <li class="full-price">&euro;1000</li>
        </ul>
        <div class="description-title-wrap">
          <h4 class="watch-description-title line">Description</h4>
        </div>
        <p class="description-text">Richly detailed with an understated design - the Pol
          ice Men’s Greenlane watch features a versatile
          multifunction design
          that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black dial. The
          timepiece
          exhibits a contrast through a black IP bracelet with matching crown and pushers.</p>
        <div class="description-title-wrap">
          <h4 class="watch-description-title line">DETAILS & FEATUREStion</h4>
        </div>
        <p class="description-text">
          Gender: man<br />
          Size: 46x54.5mm<br />
          Case Colour: Steel<br />
          Band Material: Metal<br />
          Case Material: Metal<br />
          Features: Multifunction<br />
          Water Resistant: 5 (ATM)<br />
          Band Colour: Steel<br />
        </p>
      </div>
    </div>
  </div>
</section>